<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>320891704645-456pv2aihsqpt4i8m8893snaov1mrvo8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.320891704645-456pv2aihsqpt4i8m8893snaov1mrvo8</string>
	<key>API_KEY</key>
	<string>AIzaSyCjuGf0Ng33NQ1sDpyFVO74aJo3v8Wt4Z4</string>
	<key>GCM_SENDER_ID</key>
	<string>320891704645</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.wgcode.appliLite</string>
	<key>PROJECT_ID</key>
	<string>appli-lite</string>
	<key>STORAGE_BUCKET</key>
	<string>appli-lite.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:320891704645:ios:35b4631b4dad22e53bda2c</string>
</dict>
</plist>